$transpaerntBcColor: rgba(0, 0, 0, 0.2);
@media handheld {
  .numbers {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5em;
  }
}

@font-face {
  src: url("font-awesome-4.6.1/fonts/fontawesome-webfont.woff");
  font-family: FontAwesome;
}
.numbers {
  margin-top: 10%;
  margin-bottom: 11%; }
#calcResult{
  background-color: $transpaerntBcColor;
}

body {
  background: url("../images/background_2.svg") fixed center no-repeat;
  margin: 0 auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-family: FontAwesome;
}

.footer {
  padding-bottom: 1000px;
}

.operationMode {
  text-align: center;
  text-decoration: none;
  background-color: $transpaerntBcColor;

}

.operationMode h1 {

  background-color: #00b3ee;
}

.operationMode label {
}





