$transpaerntBcColor: rgba(0, 0, 0, 0.2);

@media (min-width: 768px) {
  body {
    color: #BCC8D1;

  }
  p h1 h2 {
    color: #BCC8D1;
  }

  .numbers {
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  .topNavElement {
    margin-top: 0;
    margin-bottom: 0;
  }


}

#customNavbar {
  a {
    background-color: $transpaerntBcColor;
    color: #0f0f0f;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 20px;
  }
  background-color: transparent;
  border: none;

}
.numbers {
  margin-top: 10%;
  margin-bottom: 11%; }
#calcResult{
  background-color: $transpaerntBcColor;
}

#bootstrap-overrides {
  font-family: sans-serif Verdana;
  color: rgba(43, 43, 43, 0.72)
}
body {
  background: url("../images/background_2.svg") no-repeat fixed center;
  margin: 0 auto;
  height: auto;
  background-size: cover;


}

.footer {
  margin-top: 500px;
}
.operationMode {
  height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: $transpaerntBcColor;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.operationMode h1 {

  background-color: #00b3ee;
}

#formOp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin, .form-signin {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.account-wall {

  background-color: $transpaerntBcColor;

  margin-top: 10px;
  padding: 40px 0 20px 0;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

#registerButton {

  margin-top: 20px;
}

.topNavElement {
  margin-top: 10px;
  margin-bottom: 10px;

}

.topNavElement a {
  background-color: $transpaerntBcColor;
  border: none;

}

#tests {
  margin-top: 40px;
}

.marginTop {
  margin-top: 21px;

}



